<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap" rel="stylesheet">
@*     <link rel="stylesheet" href="~/Restaurant.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header>
        <nav class="custom-navbar">
            <a class="navbar-brand mx-auto" href="/">
                <img src="~/img/Logo-FOOdBAR.png" alt="FOOdBAR Logo" class="logo-navbar" />
            </a>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Menu" asp-action="Index">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Photos" asp-action="Index">Foto's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Reservation" asp-action="Create" asp-action="Index">Reserveren</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                </li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                if (Context.Request.Path.StartsWithSegments("/Account/Dashboard", StringComparison.OrdinalIgnoreCase))
                {
                    <form asp-controller="Account" asp-action="Logout" method="post" class="logout-form">
                        <button type="submit" class="nav-link navbar-login">Logout</button>
                    </form>
                }
                else
                {
                    <a class="nav-link navbar-login" asp-area="" asp-controller="Account" asp-action="Dashboard">Account</a>
                }
            }
            else
            {
                <a class="nav-link navbar-login" asp-area="" asp-controller="Account" asp-action="Login">Aanmelden</a>
            }

         </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
