@{
    ViewData["Title"] = "Account Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome op het Account Dashboard</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p class="lead">You are logged in as @User.Identity.Name</p>
        <p>Your role: @User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value</p>

        @if (User.IsInRole("Eigenaar") || User.IsInRole("Zaalverantwoordelijke"))
        {
            <a asp-controller="Tafel" asp-action="Index" class="btn btn-custom-primary mt-3 ms-2">
                Tafels beheren
            </a>

            <a asp-controller="Reservation" asp-action="Toewijzen" class="btn btn-custom-primary mt-3 ms-2">
                Tafels toewijzen
            </a>

            <a asp-controller="Reservation" asp-action="Index" class="btn btn-custom-primary mt-3 ms-2">
                Reservaties bekijken
            </a>
        }
    }
</div>
