@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section">
    <a asp-controller="Reservation" asp-action="Create" class="reserveer-knop">Reserveer een tafel</a>
    
    <div class="info-box">
        <h5>Openingstijden</h5>
        <ul class="list-unstyled mb-2">
            <li>Ma: Gesloten</li>
            <li>Di-Vr: 12:00 - 22:00</li>
            <li>Za-Zo: 14:00 - 23:00</li>
        </ul>
        <h5>Adres</h5>
        <address>
            Straat 123<br />
            1234 Stad<br />
            België
        </address>
    </div>
</div>
